# [Gilmar_ZonasDB]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Gilmar_ZonasDB]    Script Date: 15/04/2024 12:02:52 ******/
CREATE DATABASE [Gilmar_ZonasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gilmar_ZonasDB', FILENAME = N'/var/opt/mssql/data/Gilmar_ZonasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gilmar_ZonasDB_log', FILENAME = N'/var/opt/mssql/data/Gilmar_ZonasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Gilmar_ZonasDB] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gilmar_ZonasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ARITHABORT OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET RECOVERY FULL 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET  MULTI_USER 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Gilmar_ZonasDB] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Gilmar_ZonasDB] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Gilmar_ZonasDB', N'ON'
GO
ALTER DATABASE [Gilmar_ZonasDB] SET QUERY_STORE = ON
GO
ALTER DATABASE [Gilmar_ZonasDB] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Oficinas]

In [0]:
USE [Gilmar_ZonasDB]
GO

In [0]:
/****** Object:  Table [dbo].[Oficinas]    Script Date: 15/04/2024 12:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](100) NULL,
	[telefono] [nvarchar](20) NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Poligonos]

In [0]:
/****** Object:  Table [dbo].[Poligonos]    Script Date: 15/04/2024 12:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Poligonos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coordenadas] [nvarchar](max) NOT NULL,
	[idZona] [int] NOT NULL,
 CONSTRAINT [PK_Poligonos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[Zonas]

In [0]:
/****** Object:  Table [dbo].[Zonas]    Script Date: 15/04/2024 12:02:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zonas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[idOficina] [int] NOT NULL,
 CONSTRAINT [PK_Zonas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Oficinas]

In [0]:
SET IDENTITY_INSERT [dbo].[Oficinas] ON 
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (1, N'Oficina Central', N'Calle Principal 123', N'123-456-7890')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (2, N'Oficina Norte', N'Avenida Norte 456', N'987-654-3210')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (3, N'Oficina Sur', N'Calle Sur 789', N'456-789-0123')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (4, N'Oficina Este', N'Calle Este 1011', N'789-012-3456')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (5, N'Oficina Oeste', N'Avenida Oeste 1213', N'012-345-6789')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (6, N'Oficina Principal', N'Avenida Principal 1415', N'345-678-9012')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (7, N'Oficina Central 2', N'Calle Central 1617', N'678-901-2345')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (8, N'Oficina Norte 2', N'Avenida Norte 1819', N'901-234-5678')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (9, N'Oficina Sur 2', N'Calle Sur 2021', N'234-567-8901')
INSERT [dbo].[Oficinas] ([id], [nombre], [direccion], [telefono]) VALUES (10, N'Oficina Este 2', N'Calle Este 2223', N'567-890-1234')
SET IDENTITY_INSERT [dbo].[Oficinas] OFF
GO

# [dbo].[Poligonos]

In [0]:
SET IDENTITY_INSERT [dbo].[Poligonos] ON 
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (11, N'[(0,0), (0,5), (5,5), (5,0)]', 1)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (12, N'[(10,10), (10,15), (15,15), (15,10)]', 2)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (13, N'[(20,20), (20,25), (25,25), (25,20)]', 3)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (14, N'[(30,30), (30,35), (35,35), (35,30)]', 4)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (15, N'[(40,40), (40,45), (45,45), (45,40)]', 5)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (16, N'[(50,50), (50,55), (55,55), (55,50)]', 6)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (17, N'[(60,60), (60,65), (65,65), (65,60)]', 7)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (18, N'[(70,70), (70,75), (75,75), (75,70)]', 8)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (19, N'[(80,80), (80,85), (85,85), (85,80)]', 9)
INSERT [dbo].[Poligonos] ([id], [coordenadas], [idZona]) VALUES (20, N'[(90,90), (90,95), (95,95), (95,90)]', 10)
SET IDENTITY_INSERT [dbo].[Poligonos] OFF
GO

# [dbo].[Zonas]

In [0]:
SET IDENTITY_INSERT [dbo].[Zonas] ON 
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (1, N'Zona A', 1)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (2, N'Zona B', 1)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (3, N'Zona C', 2)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (4, N'Zona D', 2)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (5, N'Zona E', 3)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (6, N'Zona F', 3)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (7, N'Zona G', 4)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (8, N'Zona H', 4)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (9, N'Zona I', 5)
INSERT [dbo].[Zonas] ([id], [nombre], [idOficina]) VALUES (10, N'Zona J', 5)
SET IDENTITY_INSERT [dbo].[Zonas] OFF
GO

# [FK_Poligonos_Zonas]

In [0]:
ALTER TABLE [dbo].[Poligonos]  WITH CHECK ADD  CONSTRAINT [FK_Poligonos_Zonas] FOREIGN KEY([idZona])
REFERENCES [dbo].[Zonas] ([id])
GO
ALTER TABLE [dbo].[Poligonos] CHECK CONSTRAINT [FK_Poligonos_Zonas]
GO

# [FK_Zonas_Oficinas]

In [0]:
ALTER TABLE [dbo].[Zonas]  WITH CHECK ADD  CONSTRAINT [FK_Zonas_Oficinas] FOREIGN KEY([idOficina])
REFERENCES [dbo].[Oficinas] ([id])
GO
ALTER TABLE [dbo].[Zonas] CHECK CONSTRAINT [FK_Zonas_Oficinas]
GO

# [Gilmar_ZonasDB]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Gilmar_ZonasDB] SET  READ_WRITE 
GO